{% extends 'home.html' %}
{% block body %}
{% load static %}
    <link rel="stylesheet" href="{% static 'about_us/styles.css' %}">
<div class="about-us">
    <h1> Про нас</h1>
    <p>  Привіт! Мене звати Оксана. Я створила цей застосунок, щоб дпомогти тобі розібратися із сортуванням сміття у Фінляндії. </p>
    <p>  Адже, я теж колись вперше зіштовхнулась із проблемою правильного сортування відходів. І пам'ятаю, як вперше дивилася на цілий ряд контейнерів і в голові виникав лише знак питання.</p>
    <p>  Але не хвилюйся, тут ти знайдеш всю необхідну інформацію, яка домопоже тобі робити все правильно. Адже для фінів - це дуже важливо.</p>
    <p>  А, якщо ти не знайдещ потрібної тобі інформації, ти завжди можеш залишити коментар, але для цього необхідно авторизуватися.</p>
</div>

{% endblock %}

