{% extends 'home.html' %}

{% block body %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
{% endblock %}
{% block title %}Коментарі{% endblock %}
{% block main %}
<div class="container">
    <div class="comment-container" id="comment-container">
        {% for comment in object_list %}
        <div class="comment-wrapper {% if comment.author == user %}mine{% else %}other{% endif %}">
            <div class="comment-header">
                <p class="author {% if comment.author == user %}mine-author{% else %}other-author{% endif %}">{{
                    comment.author }}</p>
                <p class="date-created">{{ message.date_created|date:"Y-m-d H:i" }}</p>
                <a href="{{ comment.id }}/chat/static">edit</a>
            </div>
            <p class="comment-text">{{ comment.text }}</p>
        </div>
        {% endfor %}
    </div>
    {% load crispy_forms_tags %}
    {% crispy form %}
    <button value="send" id="submit-id-submit"></button>
</div>
{% endblock %}
{% block scripts %}
<style>
    * {
        margin: 0;
        padding: 0;
    }

    body {
        height: 100vh;
    }

    .container {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        width: auto;
        height: 100%;
    }

    .comment-container {
        background: #eee;
        height: 60%;
        width: 80%;
        padding: 1em;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        overflow-y: scroll;
    }

    .comment-wrapper {
        background: #ccc;
        width: 90%;
        min-width: 300px;
        padding: 1em;
        margin: 1em 0;
        border-radius: 2em;
        display: flex;
        flex-direction: column;
    }

    .mine {
        align-self: start;
    }

    .other {
        align-self: end;
    }

    .comment-header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .comment-header p {
        display: inline-block;
        font-size: 0.8em;
    }

    .author {
        color: #e2e;
    }

    .date-created {

    }

    .send {
        display: flex;
        width: 100%;
        max-width: 500px;
        flex-direction: row;
        justify-content: space-between;
        padding: 2em 0;
    }

    .send input[type='text'] {
        width: 80%;
    }

    .send input[type='submit'] {
        width: 10%;
    }

    .mine-author {
        color: darkred;
    }

    .other-author {
        color: black;
    }


    {%  endblock  % }