    * {
        margin: 0;
        padding: 0;
    }

    body, html {
        background-image: url(https://www.inria.fr/sites/default/files/styles/bloc_grid/public/2021-03/AdobeStock_230582154%20%281%29.jpeg?itok=72Mi1sQz);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;

    }

    .search_form {
        display: block;
        width: 100%;
        background-color: rgba(0, 0, 0, .5);
        background-size: cover;
    }

    .search_section_inner {
        display: block;
        max-width: 775px;
        margin: 0 auto;
        padding: 1.75em 1.5em;
    }

    h2 {
        font-size: 2.0em;
        color: #eeeeee;

    }

    .search_wrap input[type=text] {
        padding: 10px;
        font-size: 17px;
        border: 1px solid grey;
        float: left;
        width: 80%;
        background: #f1f1f1;
    }

    .search_wrap::after {
        content: "";
        clear: both;
        display: table;
    }

    .abc_links {
        margin: 0.75em 0 0;
    }

    .alphabet {
        padding-top: 0.75em;
    }

    .alphabet a {
        color: #fff;
        background: darkgreen;
        display: inline-block;
        margin: 0 0.2375em 0.52em 0;
        text-decoration: none;
        padding: 0.1em 0.3em;
        border: 1px solid rgba(255, 255, 255, 0.75);
        min-width: 2.05em;
        text-align: center;
        transition: all .2s ease-in-out;
    }

    .waste_form {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        margin: 30px
    }

    .column {
        float: left;
        width: 15%;
        margin-bottom: 16px;
        padding: 0 8px;
    }

    .container {
        padding: 0 16px;
    }

    .container::after, .row::after {
        content: "";
        clear: both;
        display: table;
    }

    .button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 100%;
    }
     .button:hover{
        background: lightblue;
      }