<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Title{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <!--    <link rel="stylesheet", href="home.css">-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"

            crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home/styles.css' %}">
</head>
<body>
<div class="search_form">
    <div class="search_section_inner">
        <div class="search_section_inner">
            <h2>Введіть назву сміття</h2>
            <form class=search_wrap action="{% url 'search_results' %}" method="GET">
                <input name="q" type="text" placeholder="Пошук...">
                <input type="submit" class="btn btn-primary btn-lg" value="Пошук">
            </form>
            <div class="abc_links">
                <div class="alphabet">
                    {% for letter in letters %}
                        <a href="{% url 'search_results' %}?q={{ letter }}">{{ letter }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% block body %}

    <div class="row-mine">
    {% for container in containers %}
        <div class="column">
            <div class="waste_form">
                <img src="{{ container.img }}" alt="{{ container.cont_type }}" style="width: 100%">
                <div class="container">
                    <p>
                        <button class="button">{{ container.cont_type|title }}</button>
                    </p>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}
</body>
</html>