{% extends 'home.html' %}

{% block body %}
<style>
    .waste_column {
      padding: 50px;
      text-align: center;
      background-color: grey;
      color: white;
    }
    .waste_card  {
        line-height: 1;
        display: inline-block;
        padding: 0.45em 0.6em;
        margin: 0 0.4em 0.475em 0;
        background: #f07300;
        color: #fff;
        font-weight: 600;
        font-size: .95em;
        text-decoration: none;
    }
</style>
<div class="wrapper">
    <div class="container">
        {{ container.type }}
    </div>
    <div class="waste_column">
        {% for waste in object_list %}
        <div class="waste_card">
            <p>{{waste.waste_name|title}}</p>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock body %}
