.container {
        padding: 50px;
        background-color: grey;
        color: white;
    }

.waste_card {
    list-style-type: circle;
    line-height: 1;
    display: block;
    text-align: center;
    padding: 0.45em 0.6em;
    margin: 0 0.4em 0.475em 0;
    background: #f07300;
    color: #fff;
    font-weight: 600;
    font-size: .95em;
    text-decoration: none;
}