{% extends 'home.html' %}
{% block body %}
{% load static %}
    <link rel="stylesheet" href="{% static 'about_us/styles.css' %}">
<div class="about-us">
    <h1> Про нас</h1>
    <p>  Tervetuloa! Цей застосунок було створено, щоб дпомогти тобі розібратися із сортуванням сміття у Фінляндії. </p>
    <p>  Адже кольорові баки у дворах комусь нагадують квест чи гру, в якій ти береш участь, але правил достеменно не знаєш.</p>
    <p>  Але не хвилюйся, тут ти знайдеш всю необхідну інформацію, яка домопоже тобі робити все правильно. Адже для фінів - це дуже важливо.
        Вони дуже піклуються про свою природу. І до того ж відходи перероблюють в енергію або матеріали.</p>
    <p>  Якщо відходи, які ти шукаєш, не знайдені , ти завжди можеш залишити коментар, але для цього необхідно авторизуватися. Kiitos!</p>
</div>

{% endblock %}

