{% extends 'home.html' %}
{% block body %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'search/alphabet.css' %}">
    <div class="waste_column">
        <h2>Результати пошуку</h2>
        {% for waste in object_list %}
            <br>
            <p>{{ waste.name|title }}</p>
            <div class="waste_card">
                <p>{% for container in waste.container.all %}  {{ container|capfirst }}</p>
                    <br>
                    </div>
                {% endfor %}
        {% endfor %}
    </div>
{% endblock body %}
