.about-us {
    padding: 50px;
    width: 100%;
    text-align: left;
    background-color: #455655;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
}
h1 {
    text-align: center;
}
p {
    font-size: 20px;
    text-indent: 30px;
}
