.container {
        padding: 50px;
        background-color:  #455655;
        color: white;
        margin-top: 10px;
        margin-bottom: 10px;
    }

.waste_card {
    list-style-type: circle;
    line-height: 1;
    display: block;
    text-align: center;
    padding: 0.45em 0.6em;
    margin: 0 0.4em 0.475em 0;
    background: #60bdaf;
    color: #fff;
    font-weight: 600;
    font-size: .95em;
    text-decoration: none;
}
.image1 {
    float:right;
}
i {
    text-align:left;
}